script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js")
script(src="css/lib/bootstrap/bootstrap/bootstrap.min.js")
script(src="js/main.js")
script(type="text/javascript").
    $('video').on('ended', function () {
      this.load();
      this.play();
    })