include header.jade
body
  video(autoplay,loop,poster="images/home-video-poster.jpg",id="bgvid")
    source(src="video/home-intro.webm",type="video/webm")
    source(src="video/home-intro.mp4",type="video/mp4")
  div(class=" text-center")
    div(class="app-header col-md-offset-2 col-md-8 col-sm-12")
      h2 TBD
        span(class="pull-left fa-stack fa-lg",style="font-size:16px")
          i(class="fa fa-circle-thin fa-stack-2x fa-inverse")
          i(class="fa fa-bars fa-stack-1x fa-inverse")
  div(class="getstart-button")
    div
      a(class="getstart",data-toggle="modal",data-target="#login") get started
    a already a member? sign in
  include  register.jade
  include  footer.jade