doctype html
html(lang="en")
	head
		title Food App
		link(rel="stylesheet",href="css/lib/bootstrap/css/bootstrap.min.css" )
		link(rel="stylesheet",href="css/lib/normalize/normalize.css")
		link(rel="stylesheet",href="css/main.css")